{% extends "base.html" %}
{% block title %}Sudoku{% endblock %}
{% block content %}
<style>
.center{
    margin-left: auto;
    margin-right: auto;
}

* { box-sizing: border-box; }
table { margin: 10px; }
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1px solid lightgrey;
	height: 40px;
	width: 40px;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 40px;
	width: 40px;
	text-align: center;
}
input:hover {
	background: #ffffff;
}
input[type="text"], textarea {
  background-color : #d1d1d1; 
}
p{
    margin: 0 1%;
}
</style>
<table class = "center", id="sudoku">
    <tbody> 
        {% for r in range(9) %}
            <tr>
            {% for c in range(9) %}
                {% if x[r][c] > 0 %}
                    <td>{{x[r][c]}}</td>
                {% else %}
                    <td><input type="text" /></td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <form  method="post" action="sudoku">
        <button type="submit" name="change_board" value="submit" class="btn btn-dark">Change board</button>
    </form>
    <p></p>
    <form  method="post" action="sudoku">
        <button type="submit" name="check_answer" value="submit" class="btn btn-dark">Check your answer</button>
    </form>
    <p></p>
    <form  method="post" action="sudoku">
        <button type="submit" name="see_solution" value="submit" class="btn btn-dark">See solution</button>
    </form>
</div>


{% endblock %}